[Unit]
Description=CortexFS multi-user FUSE mount at /ctx managed by %i
Documentation=https://lightjunction.github.io/cortexfs/docs/getting-started/install-deploy/
After=local-fs.target

[Service]
Type=simple
User=%i
Group=%i
EnvironmentFile=-/home/%i/.config/cortexfs/.env
ExecStartPre=+/usr/bin/cortex mount-prep /ctx %i %i
ExecStart=/usr/bin/cortex mount --multi-user /ctx
Restart=on-failure
RestartSec=2s
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target
